# Ignore everything starting with 'output' (any directory or file)
output_*/
output/**
!output/**/.gitkeep

# Ignore server_setup directory and everything under it
server_setup/

# Ignore specific file
tracker.py

# Ignore the .idea directory and everything under it
.idea/

# Ignore the _old directory
_old/
